<template>
    <div class="q-pa-lg row justify-center">
        <div
            class="col"
            style="max-width: 900px"
        >
            <div class="q-pb-md" align="center">
                <q-btn
                    color="primary"
                    icon="add"
                    label="restoran"
                    rounded
                    @click="onNewRestoran"
                />
            </div>
            <q-list>
                <div
                    v-for="(restoran, restoranIndex) in restorani"
                    :key="restoran.UIDrestorana"
                >
                    <q-expansion-item
                        group="restorani"
                        :label="restoran.name"
                        :default-opened="restoranIndex === 0"
                        header-class="bg-grey-4 text-bold text-h6 rounded-borders q-mb-sm"
                    >
                        <q-card>
                            <q-card-section>
                                <div class="row">
                                    <div class="col-6">
                                      <div class="bg-grey-3 q-pa-md rounded-borders">
                                        <q-input
                                            readonly
                                            borderless
                                            label="Name"
                                            v-model="restoran.name"
                                        />
                                        <q-input
                                            readonly
                                            borderless
                                            label="Description"
                                            v-model="restoran.description"
                                        />
                                        <div class="row">
                                            <div class="col">
                                                <q-input
                                                    readonly
                                                    borderless
                                                    label="Latitude"
                                                    v-model="restoran.geoLocation.Latitude"
                                                />
                                            </div>
                                            <div class="col">
                                                <q-input
                                                    readonly
                                                    borderless
                                                    label="Longitude"
                                                    v-model="restoran.geoLocation.Longitude"
                                                />
                                            </div>
                                        </div>
                                        <q-input
                                            readonly
                                            borderless
                                            label="Phone"
                                            v-model="restoran.phone"
                                        />
                                      </div>
                                      <q-card-actions class="q-pa-md justify-between">
                                        <q-btn
                                          round
                                          color="warning"
                                          icon="edit"
                                          @click="onUpdateRestoran(restoran)"
                                        />
                                        <q-btn
                                          round
                                          color="red-6"
                                          icon="delete"
                                          @click="onDeleteRestoran(restoran)"
                                        />
                                      </q-card-actions>
                                    </div>
                                    <div class="col-6 q-pl-md">
                                        <q-card
                                          bordered
                                        >
                                          <q-card-section>
                                              <div class="row">
                                                  <div class="col-6 q-pl-sm q-pt-sm text-bold text-h5">
                                                    Menu
                                                  </div>
                                                  <div class="col-6 q-pl-sm q-pt-sm q-pr-xs" align="right">
                                                    <q-btn
                                                      align="right"
                                                      color="primary"
                                                      label="jelo"
                                                      icon="add"
                                                      rounded
                                                      @click="onNewjela(restoran)"
                                                    />
                                                  </div>
                                              </div>
                                          </q-card-section>
                                          <q-card-section>
                                              <q-list>
                                                  <div
                                                      v-for="(jelo, jeloIndex) in restoran.jela"
                                                      :key="jelo.UIDjela"
                                                  >
                                                      <q-expansion-item
                                                          group="jela"
                                                          :label="jelo.name"
                                                          :default-opened="jeloIndex === 0"
                                                          header-class="bg-grey-3 text-bold rounded-borders q-mb-xs"
                                                          dense
                                                      >
                                                          <q-card>
                                                            <q-card-section>
                                                              <div class="bg-grey-2 q-pa-md rounded-borders">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                      <q-input
                                                                        label="Name"
                                                                        readonly
                                                                        borderless
                                                                        dense
                                                                        v-model="jelo.name"
                                                                      />
                                                                    </div>
                                                                    <div class="col-6">
                                                                      <q-input
                                                                        label="Price"
                                                                        prefix="kn"
                                                                        readonly
                                                                        borderless
                                                                        dense
                                                                        v-model="jelo.price"
                                                                      />
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                  <div class="col-12">
                                                                    <q-input
                                                                      label="Description"
                                                                      autogrow
                                                                      readonly
                                                                      borderless
                                                                      dense
                                                                      v-model="jelo.description"
                                                                    />
                                                                  </div>
                                                                </div>
                                                              </div>
                                                              <q-card-actions class="q-pa-md justify-between">
                                                                <q-btn
                                                                    color="warning"
                                                                    icon="edit"
                                                                    round
                                                                    dense
                                                                    @click="onUpdatejela(restoran, jelo)"
                                                                />
                                                                <q-btn
                                                                    color="red-6"
                                                                    icon="delete"
                                                                    round
                                                                    dense
                                                                    @click="onDeleteJela(restoran, jelo)"
                                                                />
                                                              </q-card-actions>
                                                            </q-card-section>
                                                          </q-card>
                                                      </q-expansion-item>
                                                  </div>
                                              </q-list>
                                          </q-card-section>
                                      </q-card>
                                    </div>
                                </div>
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </div>
            </q-list>
        </div>
        <q-dialog
            v-if="openRestoranDialog"
            v-model="openRestoranDialog"
        >
            <q-card class="q-dialog-plugin">
                <q-card-section>
                    <div class="text-h6">
                    Restoran
                    </div>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <q-input
                        ref="Name"
                        :error="!restoran.name || restoran.name.length === 0"
                        error-message="Name is required."
                        label="Name"
                        v-model="restoran.name"
                    />
                    <q-input
                        label="Description"
                        type="autogrow"
                        v-model="restoran.description"
                    />
                    <div class="row">
                        <div class="col q-pr-md">
                            <q-input
                              ref="Latitude"
                              :error="!restoran.geoLocation.Latitude || restoran.geoLocation.Latitude === 0"
                              error-message="Latitude is required."
                              label="Latitude"
                              type="number"
                              v-model.number="restoran.geoLocation.Latitude"
                            />
                        </div>
                        <div class="col">
                            <q-input
                              ref="Longitude"
                              :error="!restoran.geoLocation.Longitude || restoran.geoLocation.Longitude === 0"
                              error-message="Longitude is required."
                              label="Longitude"
                              type="number"
                              v-model.number="restoran.geoLocation.Longitude"
                            />
                        </div>
                    </div>
                    <q-input
                        label="Phone"
                        v-model="restoran.phone"
                    />
                </q-card-section>
                <q-card-actions class="justify-evenly q-pa-md">
                    <q-btn
                        color="green-6"
                        rounded
                        label="OK"
                        @click="onOKRestoranDialogClick"
                    />
                    <q-btn
                        color="red-6"
                        rounded
                        label="Cancel"
                        @click="onCancelRestoranDialogClick"
                    />
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-dialog
            v-if="openJeloDialog"
            v-model="openJeloDialog"
        >
            <q-card class="q-dialog-plugin">
                <q-card-section>
                    <div class="text-h6">
                        Jelo
                    </div>
                </q-card-section>
                <q-separator />
                <q-card-section>
                  <div class="row">
                    <div class="col-6 q-pr-md">
                      <q-input
                        :error="!jelo.name || jelo.name.length === 0"
                        error-message="Name is required."
                        label="Name"
                        v-model.number="jelo.name"
                      />
                    </div>
                    <div class="col-6">
                      <q-input
                        :error="!jelo.price || jelo.price.length === 0"
                        error-message="Price is required."
                        label="Price"
                        type="number"
                        v-model.number="jelo.price"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <q-input
                        label="Description"
                        autogrow
                        v-model="jelo.description"
                      />
                    </div>
                  </div>
                </q-card-section>
                <q-card-actions align="right" class="justify-evenly q-pa-md">
                    <q-btn
                        color="green-6"
                        rounded
                        label="OK"
                        @click="onOKJeloDialogClick"
                    />
                    <q-btn
                        color="red-6"
                        rounded
                        label="Cancel"
                        @click="onCancelJeloDialogClick"
                    />
                </q-card-actions>
            </q-card>
        </q-dialog>
    </div>
</template>

<script>
export default {
  name: 'RestoraniIndex',
  data () {
    return {
      isMounted: false,
      openRestoranDialog: false,
      openJeloDialog: false,
      restorani: [],
      restoran: null,
      restoranModel: {
        UIDrestorana: null,
        geoLocation: {
          Latitude: null,
          Longitude: null
        },
        name: null,
        description: null,
        phone: null
      },
      currentRestoran: null,
      jelo: null,
      jelaModel: {
        UIDrestorana: null,
        UIDjela: null,
        name: null,
        price: null,
        description: null
      }
    }
  },
  mounted: async function () {
    const collectionRef = this.$db.collection('restorani')
    await collectionRef.get()
      .then((restorani) => {
        restorani.forEach(async (restoran) => {
          const restoranFromDB = restoran.data()
          this.$set(restoranFromDB, 'jela', [])
          const subCollectionRef = collectionRef.doc(restoran.data().UIDrestorana).collection('jela')
          await subCollectionRef.get()
            .then((jela) => {
              const jelaFromDB = []
              jela.forEach((jelo) => {
                jelaFromDB.push(jelo.data())
              })
              restoranFromDB.jela = jelaFromDB
              this.restorani.push(restoranFromDB)
              this.isMounted = true
            })
        })
      })
  },
  methods: {
    onNewRestoran () {
      this.restoran = JSON.parse(JSON.stringify(this.restoranModel))
      this.openRestoranDialog = true
    },
    onNewjela (restoran) {
      this.currentRestoran = restoran
      this.jelo = JSON.parse(JSON.stringify(this.jelaModel))
      this.jelo.UIDrestorana = this.currentRestoran.UIDrestorana
      this.openJeloDialog = true
    },
    onOKRestoranDialogClick () {
      if (!this.$refs.Name.hasError &&
                !this.$refs.Latitude.hasError &&
                !this.$refs.Longitude.hasError) {
        const collectionRef = this.$db.collection('restorani')
        if (this.restoran.UIDrestorana === null) {
          collectionRef.add(this.restoran)
            .then((doc) => {
              const docRef = this.$db.collection('restorani').doc(doc.id)
              docRef.update({ UIDrestorana: doc.id })
                .then((response) => {
                  this.restoran.UIDrestorana = doc.id
                  this.$set(this.restoran, 'jela', [])
                  this.restorani.push(this.restoran)
                  this.openRestoranDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          const docRef = this.$db.collection('restorani').doc(this.restoran.UIDrestorana)
          docRef.set(this.restoran)
            .then((response) => {
              const restoran = this.restorani.find(restoran => restoran.UIDrestorana === this.restoran.UIDrestorana)
              if (restoran) {
                for (const attributeName in this.restoran) {
                  restoran[attributeName] = JSON.parse(JSON.stringify(this.restoran[attributeName]))
                }
              }
              this.openRestoranDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onOKJeloDialogClick () {
      const collectionRef = this.$db.collection('restorani').doc(this.currentRestoran.UIDrestorana).collection('jela')
      if (this.jelo.UIDjela === null) {
        collectionRef.add(this.jelo)
          .then((doc) => {
            const docRef = collectionRef.doc(doc.id)
            docRef.update({ UIDjela: doc.id })
              .then((response) => {
                this.jelo.UIDjela = doc.id
                this.currentRestoran.jela.push(this.jelo)
                this.openJeloDialog = false
              })
              .catch(function (error) {
                console.error('Error adding document: ', error)
              })
          })
          .catch(function (error) {
            console.error('Error adding document: ', error)
          })
      } else {
        const docRef = this.$db.collection('restorani').doc(this.currentRestoran.UIDrestorana).collection('jela').doc(this.jelo.UIDjela)
        docRef.set(this.jelo)
          .then((response) => {
            const jelo = this.currentRestoran.jela.find(jelo => jelo.UIDjela === this.jelo.UIDjela)
            if (jelo) {
              for (const attributeName in this.jelo) {
                jelo[attributeName] = JSON.parse(JSON.stringify(this.jelo[attributeName]))
              }
            }
            this.openJeloDialog = false
          })
          .catch(function (error) {
            console.error('Error adding document: ', error)
          })
      }
    },
    onCancelRestoranDialogClick () {
      this.openRestoranDialog = false
    },
    onCancelJeloDialogClick () {
      this.openJeloDialog = false
    },
    onUpdateRestoran (restoran) {
      this.restoran = JSON.parse(JSON.stringify(this.restoranModel))
      for (const attributeName in this.restoran) {
        this.restoran[attributeName] = JSON.parse(JSON.stringify(restoran[attributeName]))
      }
      this.openRestoranDialog = true
    },
    onUpdatejela (restoran, jelo) {
      this.currentRestoran = restoran
      this.jelo = JSON.parse(JSON.stringify(this.jelaModel))
      for (const attributeName in this.jelo) {
        this.jelo[attributeName] = JSON.parse(JSON.stringify(jelo[attributeName]))
      }
      this.openJeloDialog = true
    },
    onDeleteRestoran (row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('restorani').doc(row.UIDrestorana)
        row.jela.forEach((jelo) => {
          docRef.collection('jela').doc(jelo.UIDjela).delete()
            .then(() => {
              console.log('Document in subcollection deleted: ', jelo.UIDjela)
            })
            .catch(error => {
              console.error('Error deleting document in subcollection: ', error)
            })
        })
        docRef.delete()
          .then(() => {
            const index = this.restorani.findIndex(restoran => restoran.UIDrestorana === row.UIDrestorana)
            if (index >= 0) {
              this.restorani.splice(index, 1)
            }
          })
          .catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    },
    onDeleteJela (restoran, row) {
      this.$q.dialog({
        title: 'Delete',
        message: 'Confirm deletion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('restorani').doc(restoran.UIDrestorana).collection('jela').doc(row.UIDjela)
        docRef.delete()
          .then(() => {
            const index = restoran.jela.findIndex(jelo => jelo.UIDjela === row.UIDjela)
            if (index >= 0) {
              restoran.jela.splice(index, 1)
            }
          })
          .catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    }
  }
}
</script>
