<template>
    <q-layout>
        <q-header elevated>
            <q-toolbar>
                <q-toolbar-title align="center">
                    GSVDostavaHrane
                </q-toolbar-title>
            </q-toolbar>
        </q-header>
        <q-page-container>
            <router-view />
        </q-page-container>
    </q-layout>
</template>

<script>
export default {
  name: 'LoginPageLayout'
}
</script>
